<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <App.Domain.Controllers.Configuration>
    <webConfiguration url="http://planeven-t1-env.northeurope.cloudapp.azure.com" xdt:Transform="Replace" />
    <notificationConfiguration namespace="pe-test" issuer="RootManageSharedAccessKey" issuerKey="WKYUtOYAKM9Tyz6Kwjqvla8LAHVdHd14Ar1gG73l6Jc=" xdt:Transform="Replace" />
  </App.Domain.Controllers.Configuration>

  <App.Client.Web url="http://planeven-t1-env.northeurope.cloudapp.azure.com" xdt:Transform="Replace">
    <analytics enableAnalytics="true" />
    <staticResources cdnUrl="http://planeven-t1-env.northeurope.cloudapp.azure.com" />
    <sslConfiguration port="80" />
  </App.Client.Web>

  <DatabaseEnvironment ActiveEnvironment="Development">
    <Database Name="Development" IpAddress="planeven-test.database.windows.net" Database="planeven.test.db" Uid="planeven.usr" Pwd="3yZ94K9eLJtR4!@#K9eLhn4K9eLvRwAaj" xdt:Transform="Replace" />
  </DatabaseEnvironment>
</configuration>