<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BootstrapperConfiguration" type="Emit.ExtensibilityProvider.Configuration.BootstrapperConfiguration, Emit.ExtensibilityProvider" />
    <section name="SmtpMailSenderConfiguration" type="Emit.MailClient.Configuration.SmtpMailSenderConfiguration, Emit.MailClient" />
    <section name="MailContentProviderConfiguration" type="Emit.MailClient.ContentProvider.Configuration.MailContentProviderConfiguration, Emit.MailClient" />
    <section name="JsonLocalizationProviderConfiguration" type="Emit.LocalizationProvider.Configuration.JsonLocalizationProviderConfiguration, Emit.LocalizationProvider" />
    <section name="DatabaseEnvironment" type="App.Domain.DataRepository._Configuration.DataRepositoryConfiguration, App.Domain.DataRepository" />
    <section name="App.Domain.Controllers.Configuration" type="App.Domain.Controllers._Configuration.AppConfiguration, App.Domain.Controllers" />
  </configSections>

  <BootstrapperConfiguration>
    <source useBaseDirectory="true" />
  </BootstrapperConfiguration>

  <SmtpMailSenderConfiguration server="smtp.sparkpostmail.com" port="587" isSslEnabled="true" isDebugMode="false" debugModeEmailReceiver="no-reply-debug@outbound.planeven.com">
    <senders>
      <sender name="no-reply" username="SMTP_Injection" password="44475b7edc3b24bd9fb634747ba3b7b97a62c56d" sendAs="no-reply@outbound.planeven.com" sendAsName="PlanEven" replyTo="reachout@outbound.planeven.com" />
    </senders>
  </SmtpMailSenderConfiguration>

  <MailContentProviderConfiguration activeProvider="FileBasedMailContentProvider">
    <mailContentProviders>
      <provider name="FileBasedMailContentProvider" type="Emit.MailClient.ContentProvider.Concrete.FileBasedMailContentProvider, Emit.MailClient" useBaseDirectory="true" sourcePath="system.resources\\mailmessages" />
    </mailContentProviders>
  </MailContentProviderConfiguration>

  <JsonLocalizationProviderConfiguration extension="app">
    <localizationSources>
      <source name="ui" useBaseDirectory="true" sourcePath="system.resources\\pages" />
      <source name="validation" useBaseDirectory="true" sourcePath="system.resources\\validationrules" />
    </localizationSources>
  </JsonLocalizationProviderConfiguration>

  <DatabaseEnvironment ActiveEnvironment="Development">
    <Database Name="Development" IpAddress="sql.emitknowledge.com" Database="app.db" Uid="appusr" Pwd="FYGncRXGySXDz6RFNg2e" />
  </DatabaseEnvironment>

  <App.Domain.Controllers.Configuration>
    <applicationConfiguration projectName="App" applicationName="App.Client.BackgroundWorker" enviroment="Test" />
    <securityConfiguration saltLenght="32" autoPasswordLenght="6" minPasswordLenght="6" tokenLenght="6" tokenValidityInDays="30" fish="KTVRaRB4AcSkL9ryvYPAEXmU" />
    <notificationConfiguration namespace="pe-dev" issuer="RootManageSharedAccessKey" issuerKey="8B+UFKMj96RnGztflCFcV5OdQatefZhVkDPtUuZ4MaI=" />
    <storageConfiguration name="Test" connectionString="DefaultEndpointsProtocol=https;AccountName=appboilerplate;AccountKey=NFSu5Kc/Xv2fQax6slCBJTzwkbppKAM14TBBwvNAgTvQ1/FYiig0WK1y2MRuGTCfIPU2tDg/32Ss1zhXqmUXmw==" />
    <webConfiguration url="http://local.planeven.com:8081" />
    <externalApisConfiguration>
      <externalApis>
        <api name="twitter" consumerKey="CONSUMER_KEY" consumerSecret="CONSUMER_SECRET" />
        <api name="facebook" appId="APP_ID" appSecret="APP_SECRET" />
        <api name="mailjet" apiKey="API_KEY" apiSecret="API_SECRET" />
      </externalApis>
    </externalApisConfiguration>
  </App.Domain.Controllers.Configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.0.0" newVersion="2.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>