<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net46" />
  <package id="AutoMapper" version="6.2.2" targetFramework="net471" />
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.Cors" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.4" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="SquishIt" version="1.0.0" targetFramework="net471" />
  <package id="SquishIt.AspNet" version="1.0.0" targetFramework="net471" />
  <package id="SquishIt.Framework" version="1.0.0" targetFramework="net471" />
  <package id="SquishIt.Mvc" version="1.0.0" targetFramework="net471" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net471" />
  <package id="YUICompressor.NET" version="2.7.0.0" targetFramework="net471" />
</packages>