<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="BootstrapperConfiguration" type="Emit.ExtensibilityProvider.Configuration.BootstrapperConfiguration, Emit.ExtensibilityProvider"/>
		<section name="SmtpMailSenderConfiguration" type="Emit.MailClient.Configuration.SmtpMailSenderConfiguration, Emit.MailClient"/>
		<section name="JsonLocalizationProviderConfiguration" type="Emit.LocalizationProvider.Configuration.JsonLocalizationProviderConfiguration, Emit.LocalizationProvider"/>
		<section name="DatabaseEnvironment" type="App.Service.DataRepository._Configuration.DataRepositoryConfiguration, App.Service.DataRepository, Version=1.0.0.0, Culture=neutral"/>
		<section name="App.Service.Controllers.Configuration" type="App.Service.Controllers._Configuration.AppConfiguration, App.Service.Controllers, Version=1.0.0.0, Culture=neutral"/>
		<section name="App.Client.Web" type="App.Client.Web.Configuration.AppWebConfiguration, App.Client.Web"/>
	</configSections>
	<BootstrapperConfiguration>
		<source useBaseDirectory="true"/>
	</BootstrapperConfiguration>
	<SmtpMailSenderConfiguration server="in-v3.mailjet.com" port="587" isSslEnabled="true" isDebugMode="false" debugModeEmailReceiver="no-reply-debug@emitknowledge.com">
		<senders>
			<sender name="no-reply" username="3cb898405a9ac604f16a51bafcb3d1e4" password="08cdca18796547d4924efe8f035cb8a8" sendAs="contact@emitknowledge.com"/>
		</senders>
	</SmtpMailSenderConfiguration>
	<JsonLocalizationProviderConfiguration extension="app">
		<localizationSources>
			<source name="ui" useBaseDirectory="true" sourcePath="system.resources\\pages"/>
			<source name="validation" useBaseDirectory="true" sourcePath="system.resources\\validationrules"/>
		</localizationSources>
	</JsonLocalizationProviderConfiguration>
	<DatabaseEnvironment ActiveEnvironment="Development">
		<Database Name="Development" IpAddress="sql.emitknowledge.com" Database="app.db" Uid="appusr" Pwd="FYGncRXGySXDz6RFNg2e"/>
	</DatabaseEnvironment>
	<App.Service.Controllers.Configuration>
		<applicationConfiguration projectName="App" applicationName="App.Client.BackgroundWorker" enviroment="Test"/>
		<securityConfiguration saltLenght="32" autoPasswordLenght="6" minPasswordLenght="6" tokenLenght="6" tokenValidityInDays="30" fish="KTVRaRB4AcSkL9ryvYPAEXmU"/>
		<notificationConfiguration namespace="appboilerplate" issuer="owner" issuerKey="//cMPSndzeXc4SgaVT8RmlPDcRHA8XkPEuD+gJulkgg="/>
		<storageConfiguration name="Test" connectionString="DefaultEndpointsProtocol=https;AccountName=appboilerplate;AccountKey=NFSu5Kc/Xv2fQax6slCBJTzwkbppKAM14TBBwvNAgTvQ1/FYiig0WK1y2MRuGTCfIPU2tDg/32Ss1zhXqmUXmw=="/>
		<webConfiguration url="http://app.com:33098/" maxPageSize="100"/>
		<externalApisConfiguration>
			<externalApis>
				<api name="twitter" consumerKey="CONSUMER_KEY" consumerSecret="CONSUMER_SECRET"/>
				<api name="facebook" appId="APP_ID" appSecret="APP_SECRET"/>
				<api name="mailjet" apiKey="API_KEY" apiSecret="API_SECRET"/>
			</externalApis>
		</externalApisConfiguration>
	</App.Service.Controllers.Configuration>
	<App.Client.Web url="http://app.com:33098">
		<analytics enableAnalytics="true"/>
		<staticResources cdnUrl="http://app.com:33098"/>
		<sslConfiguration port="8073"/>
	</App.Client.Web>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
	<system.web>
		<machineKey validationKey="98A3ED0EF8DFE6FA79DFB546400656C037EFC48523309B819F7E0E064AC9624D9DCECFDB7816C53EF785BB956E5F69F825F1C7EBC9F52BBD2C4B93CDB4ECFCE3" decryptionKey="8793F4468DEBA10FA2670FFD85B1250EA0796A182BAD477F0E1C516DFABA3F86" validation="SHA1" decryption="AES"/>
		<authentication mode="Forms">
			<forms name=".APPXAUTH" defaultUrl="~/" protection="All" loginUrl="~/login" timeout="43200" cookieless="UseCookies" path="/" slidingExpiration="true" enableCrossAppRedirects="false"/>
		</authentication>
		<httpRuntime targetFramework="4.7.1" maxRequestLength="20971520"/>
		<compilation targetFramework="4.7.1" debug="true"/>
		<customErrors mode="Off" defaultRedirect="~/error/error">
			<error statusCode="403" redirect="~/error/notfound"/>
			<error statusCode="404" redirect="~/error/notfound"/>
			<error statusCode="500" redirect="~/error/error"/>
		</customErrors>
	</system.web>
	<location path="Assets/font">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<add name="Access-Control-Allow-Origin" value="*"/>
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<staticContent>
			<remove fileExtension=".js"/>
			<remove fileExtension=".css"/>
			<remove fileExtension=".woff"/>
			<remove fileExtension=".otf"/>
			<remove fileExtension=".mp4"/>
			<remove fileExtension=".gif"/>
			<mimeMap fileExtension=".js" mimeType="text/javascript"/>
			<mimeMap fileExtension=".css" mimeType="text/css"/>
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
			<mimeMap fileExtension=".otf" mimeType="application/x-font-opentype"/>
			<mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
			<mimeMap fileExtension=".gif" mimeType="image/gif"/>
			<clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="500.00:00:00"/>
		</staticContent>
		<urlCompression doStaticCompression="true" doDynamicCompression="true"/>

		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
	</system.webServer>
	<system.net>
		<defaultProxy enabled="true"/>
		<settings>
			<!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
			<!--<servicePointManager checkCertificateRevocationList="true"/>-->
		</settings>
		<connectionManagement>
			<add address="*" maxconnection="100"/>
		</connectionManagement>
	</system.net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Overlapped" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.SecureString" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Sockets" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Compression" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Globalization.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.StackTrace" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.6.0.0" newVersion="2.6.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.19.4.11002" newVersion="3.19.4.11002"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
