<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="verbose" value="${replace:inner=${message}:searchFor=\\r\\n|\\n:replaceWith=->:regex=true}"/>
  <targets>
    <!-- add your targets here -->
    <target name="logFile" xsi:type="File" fileName="${basedir}/${shortdate}.log"
            layout="${verbose}"
            maxArchiveFiles="10"
            archiveAboveSize="502400"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false" />

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>