
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a href="/Account/LoginExternal?provider=Facebook">Facebook</a>

<form action="@Url.Action("Import")" method="post" enctype="multipart/form-data">
    <input type="file" name="file" value="" />
    <button>Upload</button>
</form>
